:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --hospital-green-hover: #9BCBA6;
    --sm: 16px;
    --md: 20px;
    --lg: 24px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: var(--white);
}

.mobile-menu {
    padding: 20px;
}