:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --hospital-green-hover: #9BCBA6;
    --sm: 16px;
    --md: 20px;
    --lg: 24px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: var(--white);
    width: 100%;
}

.inactive {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 52px;
    border-bottom: 1px solid var(--very-light-pink);
    position: relative;
}

.menu-image {
    display: none;
}

.logo {
    width: 150px;
}

.navbar-left ul, .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.navbar-left ul li a {
    font-size: var(--sm);
    color: var(--very-light-pink);
    text-decoration: none;
    border: 1px solid transparent;
    padding: 4px 12px;
    border-radius: 8px;
}

.navbar-left ul li a:hover {
    color: var(--hospital-green-hover);
    border-color: var(--hospital-green-hover);
}

.navbar-email {
    margin-right: 24px;
    color: var(--very-light-pink);
    font-size: var(--sm);
}

.navbar-email:hover {
    color: var(--dark);
    cursor: pointer;
    text-decoration: underline;
}

.navbar-shopping-cart {
    display: flex;
    flex-direction: row;
    position: relative;
}

.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    color: var(--dark);
    top: -6px;
    right: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop_menu {
    background-color: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 4px 20px;
    position: absolute;
    top: 50px;
    right: 105px;
}

.desktop_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop_menu ul li {
    text-align: end;
    padding-bottom: 16px;
}

.desktop_menu ul li a {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
    font-size: var(--sm);
}

.desktop_menu ul li a:hover {
    color: var(--black);
    text-decoration: underline;
}

.desktop_menu ul li:last-child {
    border-top: 1px solid var(--very-light-pink);
    padding-top: 16px;
}

.desktop_menu ul li:last-child a {
    color: var(--hospital-green);
}

.desktop_menu ul li:last-child a:hover {
    color: var(--hospital-green-hover);
    text-decoration: underline;
}

@media (max-width:980px) {
    .desktop_menu {
        left: 730px;
    }
}

@media (max-width: 640px) {
    .menu-image {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email {
        display: none;
    }

    nav {
        padding: 12px 20px;
    }

    .desktop_menu {
        display: none;
    }

}

