<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <!-- Styles Link -->
    <link rel="stylesheet" href="../CSS/cart.css">
    <title>YARD Sale - Shopping Cart</title>
</head>
<body>
    <aside class="shopping-cart">
        <div class="title-container">
            <img src="https://raw.githubusercontent.com/platzi/curso-frontend-developer-practico/main/icons/flechita.svg" alt="Flecha Salir">

            <h1 class="title">Shoppping Cart</h1>
        </div>
        <div class="order-content">
            <div class="cart-product">
                <figure>
                    <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                </figure>

                <p>Bike</p>
                <p>$ 30,00</p>

                <img src="../icons/icon_close.png" alt="Close" class="close-image">
            </div>

            <div class="cart-product">
                <figure>
                    <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                </figure>

                <p>Bike</p>
                <p>$ 30,00</p>

                <img src="../icons/icon_close.png" alt="Close" class="close-image">
            </div>

            <div class="cart-product">
                <figure>
                    <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                </figure>

                <p>Bike</p>
                <p>$ 30,00</p>

                <img src="../icons/icon_close.png" alt="Close" class="close-image">
            </div>

            <div class="cart-product">
                <figure>
                    <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                </figure>

                <p>Bike</p>
                <p>$ 30,00</p>

                <img src="../icons/icon_close.png" alt="Close" class="close-image">
            </div>

            <div class="cart-product">
                <figure>
                    <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                </figure>

                <p>Bike</p>
                <p>$ 30,00</p>

                <img src="../icons/icon_close.png" alt="Close" class="close-image">
            </div>

            <div class="cart-product">
                <figure>
                    <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                </figure>

                <p>Bike</p>
                <p>$ 30,00</p>

                <img src="../icons/icon_close.png" alt="Close" class="close-image">
            </div>

            <div class="order">
                <p class="text">Total</p>

                <p class="value">$ 560.00</p>
            </div> 
            
            <button class="primary-button checkout-button">
                Checkout
            </button>
        </div>
    </aside>
</body>
</html>