<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <!-- Styles Link -->
    <link rel="stylesheet" href="../CSS/email.css">
    <title>YARD Sale - Email Sent</title>
</head>
<body>
    <div class="main-container">
        <div class="container">
            <img src="https://raw.githubusercontent.com/platzi/curso-frontend-developer-practico/main/logos/logo_yard_sale.svg" alt="logo" class="logo">

            <h1 class="title">Email has been sent!</h1>
            <p class="subtitle">Please check your inbox for instructions on how to reset the password</p>

            <div class="email-image">
                <img src="https://raw.githubusercontent.com/platzi/curso-frontend-developer-practico/main/icons/email.svg" alt="Email Icon">
            </div>

            <button class="primary-button login-button">Login</button>
            <p class="resend">
                <strong>Didn't receive the email?</strong>    
                <a href="#">Resend Email</a>
            </p>
        </div>
    </div>
</body>
</html>