<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <!-- Styles Link -->
    <link rel="stylesheet" href="../CSS/login.css">
    <title>YARD Sale - Create Password</title>
</head>
<body>
    <div class="container" id="main-container">
        <div class="container">
            <img src="https://raw.githubusercontent.com/platzi/curso-frontend-developer-practico/main/logos/logo_yard_sale.svg" alt="Logo" class="logo">

            <form action="#" class="form">
                <label for="email" class="label">Email Address</label>
                <input type="password" id="email" placeholder="Insert your email" class="input">

                <label for="password" class="label">Password</label>
                <input type="password" id="password" placeholder="*********" class="input">

                <input type="submit" value="Log in" class="primary-button login-button">
                <p>
                    <a href="#">Forgot my password</a>
                </p>
            </form>

            <button class="secondary-button signup-button">Sign up</button>
        </div>
    </div>
</body>
</html>