<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <!-- Styles Link -->
    <link rel="stylesheet" href="../CSS/order.css">
    <title>YARD Sale - Order</title>
</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1 class="title">My order</h1>
            
            <div class="order-content">
                <div class="order">
                    <div class="order-data">
                        <p>06.28.2023</p>
                        <p>6 articles</p>
                    </div>
    
                    <p class="value">$ 560.00</p>
                </div>

                <div class="cart-product">
                    <figure>
                        <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                    </figure>

                    <p>Bike</p>
                    <p>$ 30,00</p>
                </div>

                <div class="cart-product">
                    <figure>
                        <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                    </figure>

                    <p>Bike</p>
                    <p>$ 30,00</p>
                </div>

                <div class="cart-product">
                    <figure>
                        <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                    </figure>

                    <p>Bike</p>
                    <p>$ 30,00</p>
                </div>

                <div class="cart-product">
                    <figure>
                        <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                    </figure>

                    <p>Bike</p>
                    <p>$ 30,00</p>
                </div>

                <div class="cart-product">
                    <figure>
                        <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                    </figure>

                    <p>Bike</p>
                    <p>$ 30,00</p>
                </div>

                <div class="cart-product">
                    <figure>
                        <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bike">
                    </figure>

                    <p>Bike</p>
                    <p>$ 30,00</p>
                </div>  
            </div>
        </div>
    </div>
</body>
</html>